<nav class="navbar navbar-expand-md navbar-light">
  <img src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png">
      <div id="navbarSupportedContent" class="pl-2">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link text-white" href="#"> FEATURES </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-white" href="#"> DOCS </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-white" href="#"> RESOURCES </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-white" href="#"> EVENTS </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-white" href="#"> BLOG </a>
          </li>
        </ul>
      </div>
        </nav>
<header>
  <!-- BACKGROUND IMAGE -->
  <div class="background-sky hero"></div>
  <!-- INTRO SECTION -->
  <section id="intro">
    <!-- LOGO -->
    <div class="hero-logo">
      <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Angular" width="250" height="250">
    </div>
    <!-- CONTAINER -->
    <div class="homepage-container">
      <div class="hero-headline no-toc">One framework.<br>Mobile &amp; desktop.</div>
      <a class="button hero-cta" href="start">Get Started</a>
    </div>
  </section>
</header>