<nav class="navbar navbar-expand-md navbar-light">
  <img src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png">
      <div id="navbarSupportedContent" class="pl-2">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link text-white" href="#"> FEATURES </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-white" href="#"> DOCS </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-white" href="#"> RESOURCES </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-white" href="#"> EVENTS </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-white" href="#"> BLOG </a>
          </li>
        </ul>
      </div>
        </nav>
<header>
  <div class="background-sky hero"></div>
  <!-- <section id="intro">
    <div class="hero-logo">
      <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Angular" width="250" height="250">
    </div>
    <div class="homepage-container">
      <div class="hero-headline no-toc">
        <h3>One framework.<br>Mobile &amp; desktop.</h3>
      </div>
      <a class="button hero-cta" href="start">Get Started</a>
    </div>
  </section> -->
  <div class="container">
	<div class="row">
		<div class="col">
      <div class="hero-logo">
    <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Angular" width="250" height="250">
  </div>
    </div>
    <div class="col">
      <div class="hero-logo pt-5 mt-5">
    <div class="text-white text-center">
        <h3>One framework.<br>Mobile &amp; desktop.</h3>
        <a class="button" href="start">Get Started</a>
      </div>
      
  </div>
    </div>
	</div>
</div>
  
  
</header>

