<nav class="navbar navbar-expand-md navbar-light">
	<img src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png">
	<div id="navbarSupportedContent" class="pl-2">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item active">
				<a class="nav-link text-white" href="https://angular.io/features"> FEATURES </a>
			</li>
			<li class="nav-item active">
				<a class="nav-link text-white" href="https://angular.io/docs"> DOCS </a>
			</li>
			<li class="nav-item active">
				<a class="nav-link text-white" href="https://angular.io/resources?category=development"> RESOURCES </a>
			</li>
			<li class="nav-item active">
				<a class="nav-link text-white" href="https://angular.io/events"> EVENTS </a>
			</li>
			<li class="nav-item active">
				<a class="nav-link text-white" href="https://blog.angular.io/?gi=abe42afdd9f7"> BLOG </a>
			</li>
		</ul>
	</div>
</nav>
<header>
	<div class="background-sky hero"></div>
	<!-- <section id="intro">
    <div class="hero-logo">
      <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Angular" width="250" height="250">
    </div>
    <div class="homepage-container">
      <div class="hero-headline no-toc">
        <h3>One framework.<br>Mobile &amp; desktop.</h3>
      </div>
      <a class="button hero-cta" href="start">Get Started</a>
    </div>
  </section> -->
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="hero-logo">
					<img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Angular" width="250" height="250">
        </div>
			</div>
				<div class="col mt-5 text-white">
					<div class="row text-center mt-5 pt-5">
						<div class="col">
							<h3>One framework.<br>Mobile &amp; desktop.</h3>
						</div>
					</div>
					<div class="row text-center">
						<div class="col">
							<a class="btn btn-primary" href="#">Get Started</a>
						</div>
					</div>
				</div>
        <div class="col"></div>

			</div>
		</div>

  
</header>